ErrorDocument 400 /error_document/index.php?code=400
ErrorDocument 401 /error_document/index.php?code=401
ErrorDocument 403 /error_document/index.php?code=403
ErrorDocument 404 /error_document/index.php?code=404
ErrorDocument 500 /error_document/index.php?code=500
ErrorDocument 502 /error_document/index.php?code=502

RewriteEngine On
  RewriteRule ^/$ site/site.php?path= [L]
  RewriteRule ^$ site/site.php?path= [L]

RewriteEngine On
  RewriteRule ^([a-zA-Z0-9_-]+)/$ site/site.php?path=$1
  RewriteRule ^([a-zA-Z0-9_-]+)$ site/site.php?path=$1