header {
  a {
    transition: all 0.2s ease-in-out;
    color: $white;
    cursor: pointer;
    text-decoration: none;
    &:hover {
      border-bottom: 1px dotted $white;
    }
  }
}

main {
  a {
    transition: all 0.2s ease-in-out;
    color: $blue;
    border-bottom: 1px dotted $blue_active;
    cursor: pointer;
    text-decoration: none;
    &:hover {
      color: $blue_active;
      border-bottom: 0;
    }
  }
}