* {
  box-sizing: border-box;
}

body {
  font-family: $Calibre;
  font-size: 26px;
  background-color: $background;
  color: $font-secondary;
  margin: 0;
  line-height: 1.25;
  font-size: 20px;
  -webkit-font-smoothing: antialiased;
}

a {
  position: relative;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  text-decoration-skip-ink: auto;
}
