$background: rgb(10, 25, 47);
$background-light: rgb(23, 42, 69);
$background-dark: rgb(2, 12, 27);

$primary: rgb(100, 255, 218);

$font-primary: rgb(230, 241, 255);
$font-secondary-light: rgb(204, 214, 246);
$font-secondary: rgb(136, 146, 176);

$grey-line: rgb(168, 178, 209);
$grey-line-dark: rgb(45, 57, 82);

$animate: cubic-bezier(0.645, 0.045, 0.355, 1);

$Calibre: Calibre, "San Francisco", "SF Pro Text", -apple-system, system-ui, BlinkMacSystemFont, Roboto, "Helvetica Neue", "Segoe UI", Arial, sans-serif;
$SFMono: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", "Lucida Console", Monaco, monospace;

@mixin onGiant {
  @media (max-width: 90em) {
    @content;
  }
}

@mixin onDesktop {
  @media (max-width: 62.6em) {
    @content;
  }
}

@mixin onTablet {
  @media (max-width: 48em) {
    @content;
  }
}

@mixin onTobile {
  @media (max-width: 37.5em) {
    @content;
  }
}

@mixin onPhablet {
  @media (max-width: 30em) {
    @content;
  }
}

@mixin onMobile {
  @media (max-width: 23.5em) {
    @content;
  }
}
