$background: rgb(10, 25, 47);
$background-dark: rgb(2, 12, 27);

$primary: rgb(100, 255, 218);

$font-primary: rgb(230, 241, 255);
$font-secondary-light: rgb(204, 214, 246);
$font-secondary: rgb(136, 146, 176);

$grey-line: rgb(168, 178, 209);

$animate: cubic-bezier(0.645, 0.045, 0.355, 1);
