body {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  background-color: $grey;
  margin: 0;
  font-weight: 300;
}

header {
  @extend .cf;
  background-color: $blue;
  color: $white;
  padding: 6%;
  padding-top: 1.5em;
  padding-bottom: 0.5em;
  font-size: 1.5em;
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  .leadin {
    float: left;
    li {
      font-size: 0.5em;
      strong {
        font-weight: 600;
      }
    }
  }
  .links {
    float: right;
    text-align: right;
    li {
      font-size: 0.3em;
    }
  }
}

main {
  width: 88%;
  margin: 0 auto;
  padding: 0;
  padding-top: 10px;
  font-size: 0.5em;
  > section {
    float: left;
    //margin-bottom: 10px;
  }
}

.quickabout {
  margin-bottom: 30px;
  p {
    font-size: 1.5em;
  }
}

.skills {
  p {
    font-size: 1.2em;
    margin-bottom: 5px;
    margin-top: 10px;
  }
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    &.current {
      li {
        background-color: $blue;
      }
    }
    &.learning {
      li {
        background-color: $blue_active;
      }
    }
    li {
      float: left;
      font-size: 1.2em;
      padding: 5px 10px;
      color: $white;
      margin-right: 5px;
      margin-bottom: 5px;
      border-radius: 3px;
    }
  }
}