<header class="header__HeaderContainer">
  <nav class="header__Navbar">
    <div></div>
    <div></div>
    <div class="header__NavLinks">
      <ol class="header__NavList">
        <li class="header__NavListItem">
          <a href="#about" class="header__NavLink">About</a>
        </li>
        <li class="header__NavListItem">
          <a href="#jobs" class="header__NavLink">Experience</a>
        </li>
        <li class="header__NavListItem">
          <a href="#work" class="header__NavLink">Work</a>
        </li>
        <li class="header__NavListItem">
          <a href="#contact" class="header__NavLink">Contact</a>
        </li>
      </ol>
      <div>
        <a class="button header__ResumeButton" href="/CV_2018.pdf">Resume</a>
      </div>
    </div>
  </nav>
</header>
