<main class="main">
  <section class="hero__heroContainer">
    <h1 class="hero__Hi">Hi, my name is</h1>
    <h2 class="hero__Name">Jamie Davies.</h2>
    <h1 class="hero__Subtitle">I like to build things.</h1>
    <div class="hero__Blurb">
      <p>
        I'm a Software Engineer based in London specializing in developing exceptional,
        high-quality websites and applications. I'm currently working at
        <a class="link" href="http://yieldify.com" target=_blank>Yieldify</a> as a Software Engineer.
      </p>
    </div>
    <div class="hero__Contact">
      <a class="button" href="mailto:jamie@iamjamiedavies.com">Get In Touch</a>
    </div>
  </section>

  {% include sections/about.html %}

  {% include sections/jobs.html %}

  {% include sections/projects.html %}

  {% include sections/contact.html %}
</main>
