@import "../../../assets/sass/vars";

.SocialContainer {
  width: 40px;
  position: fixed;
  bottom: 0px;
  left: 40px;
  color: $grey-line;

  &::after {
    content: "";
    display: block;
    width: 1px;
    height: 90px;
    background-color: $grey-line;
    margin: 0px auto;
  }
}

.SocialItemList {
  padding: 0px;
  margin: 0px;
  list-style: none;
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
}

.SocialItem {
  display: list-item;
  text-align: -webkit-match-parent;

  &:last-of-type {
    margin-bottom: 20px;
  }

  a {
    color: inherit;
    padding: 10px;
    transition: color 0.15s $animate 0s;

    svg {
      width: 18px;
      height: 18px;
      fill: currentcolor;
      vertical-align: middle;
    }

    &:hover {
      color: $primary;
    }
  }
}
