@import "../../../assets/sass/vars";

.ContactContainer {
  text-align: center;
  max-width: 600px;
  padding: 150px 0px;
  margin: 0px auto 100px;

  h3 {
    font-size: 16px;
    color: $primary;
    font-family: $SFMono;
    font-weight: normal;
    -webkit-box-pack: center;
    justify-content: center;
    margin-bottom: 20px;

    &::before {
      bottom: 0px;
      font-size: 14px;
    }

    &::after {
      display: none;
    }
  }
}

.Title {
  font-size: 60px;
  margin: 0px 0px 20px;
  font-weight: 600;
  color: $font-primary;
}

.EmailLink {
  margin-top: 50px;
  font-size: 14px;
}
