body {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 26px;
  background-color: $grey;
  margin: 0;
}

header {
  @extend .cf;
  background-color: $blue;
  color: $white;
  padding: 6%;
  padding-top: 1.5em;
  padding-bottom: 0.5em;
  font-size: 1.5em;
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  .leadin {
    float: left;
    li {
      font-size: 0.5em;
      strong {
        font-weight: 500;
      }
    }
  }
  .links {
    float: right;
    text-align: right;
    @media (max-width: 380px){display: none;}
    li {
      font-size: 0.3em;
      margin-bottom: 0.1em;
    }
  }
}

main {
  @extend .cf;
  width: 88%;
  margin: 0 auto;
  padding: 0;
  padding-top: 1em;
  font-size: 0.5em;
  > section {
    float: left;
    width: 100%;
    margin-bottom: 1em;
  }
  p {
    font-size: 1.5em;
  }
}

footer {
  @extend .cf;
  float: left;
  background-color: $black;
  height: 1em;
  width: 100%;
  margin: 0;
  color: $white;
  .container {
    width: 88%;
    margin: 0 auto;
    font-size: 0.4em;
    padding-top: 0.6em;
  }
}

section {
  h2 {
    font-size: 1.5em;
    font-weight: 300;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
  }
}

.quickabout {
  p {
    font-size: 1.5em;
  }
}

.skills,.skills-title {
  margin-bottom: 0;
  p {
    font-size: 1.2em;
    margin-bottom: 0.5em;
    margin-top: 0.2em;
  }
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    li {
      float: left;
      font-size: 1.1em;
      padding: 0.3em 0.8em;
      color: $white;
      margin-right: 0.5em;
      margin-bottom: 0.5em;
      border-radius: 3px;
      background-color: $blue;
      transition: opacity .1s linear;
      &.learning {
        background-color: lighten($blue,10%);
        opacity: 0.6;
      }
      &.tolearn {
        background-color: lighten($blue,20%);
        opacity: 0.5;
      }
      &.highlight {
        opacity: 1;
      }
      &.shade {
        opacity: 0.1;
      }
    }
  }
  &.skills-title {
    h2,ul {
      float: left;
      display: inline;
    }
    ul {
      margin-top: 1em;
      margin-left: 0.7em;
      li {
        font-size: 0.8em;
        cursor: pointer;
      }
    }
    @media (max-width: 350px){
      h2,ul{
        display: block; float: none;
      }
      ul{
        margin: 0; margin-bottom: 3em;
      }
    }
  }
}

.projects {
  margin-top: 2em;
  .date {
    width: 100%;
    border-bottom: 1px solid $grey_dark;
    margin-bottom: 1em;
  }
  .project {
    @extend .grid;
    margin: 0.5em 0;
    margin-bottom: 2em;
    .content {
      @extend .col-3-5;
      @media (max-width: 500px){width:100%;}
      h3 {
        margin: 0;
        padding: 0;
        font-weight: 300;
        font-size: 3em;
        .type {
          padding: 2px;
          font-size: 0.2em;
          top: 1em;
          vertical-align: top;
          position: relative;
          margin-left: 5px;
          &.blue {
            background-color: $blue;
            color: $white;
          }
          &.green {
            background-color: #5AB55A;
            color: $white;
          }
          &.black {
            background-color: black;
            color: $white;
          }
          &.purple {
            background-color: $purple;
            color: $white;
          }
        }
      }
      h4 {
        margin: 0;
        margin-bottom: 0.2em;
        padding: 0;
        font-weight: 300;
        font-size: 1.25em;
        padding-right: 1.5em;
        @media (max-width: 500px){padding-right:0;}
      }
      p {
        font-size: 1.1em;
        padding-right: 1.5em;
        @media (max-width: 500px){padding-right:0;}
        &.whatidid {
          color: $grey_dark;
        }
      }
      .links {
        ul {
          list-style-type: none;
          padding: 0;
          margin: 0;
          li {
            background-color: $blue;
            float: left;
            font-size: 1em;
            padding: 0.3em 0.8em;
            color: $white;
            margin-right: 0.5em;
            margin-bottom: 0.5em;
            border-radius: 3px;
            a {
              color: $white;
              border-bottom: 0;
              cursor: pointer;
              text-decoration: none;
              &:hover {
                color: $white;
              }
            }
            &:hover {
              background-color: $blue_active;
            }
          }
        }
      }
    }
    img {
      @extend .col-2-5;
      @media (max-width: 500px){width:100%;}
      border-radius: 5px;
      -webkit-box-shadow: 2px 4px 13px 0px rgba(50, 50, 50, 0.89);
      -moz-box-shadow:    2px 4px 13px 0px rgba(50, 50, 50, 0.89);
      box-shadow:         2px 4px 13px 0px rgba(50, 50, 50, 0.89);
      &.noshadow {
        -webkit-box-shadow: none;
        -moz-box-shadow:    none;
        box-shadow:         none;
      }
    }
  }
}

.posts {
  margin-top: 2em;
  .date {
    width: 100%;
    border-bottom: 1px solid $grey_dark;
  }
  .post {
    padding-top: 15px;
    border-bottom: 1px solid $grey_dark;
    h2 {
      margin: 0;
      padding: 0;
      font-weight: 400;
      font-size: 2em;
    }
    p {
      font-size: 1.2em;
    }
    &.noborder {
      border-bottom: 0;
    }
  }
}

.contact {
  p {
    font-size: 1.5em;
  }
  div {
    padding-bottom: 10px;
  }
  a {
    font-size: 2.5em;
    @media (max-width: 500px){font-size: 1.9em;}
    @media (max-width: 300px){font-size: 1.2em;}
    @media (max-width: 230px){font-size: 1em;}
  }
}