@import "../../../assets/sass/vars";

.FooterContainer {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  flex-direction: column;
  background-color: $background-dark;
  color: $font-secondary;
  text-align: center;
  height: auto;
  padding: 15px;
}

.Copy {
  margin: 5px 0px 3px;
}

.CopyLink {
  color: $font-secondary;
  font-family: $SFMono;
  font-size: 12px;
  color: inherit;

  &:hover {
    color: $primary;
  }
}

.SocialContainer {
  display: none;
  width: 100%;
  max-width: 150px;
  margin: 10px auto 10px;

  @include onTablet { display: block; }
}

.SocialItemList {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
}

.SocialItem {
  a {
    color: $font-secondary;

    svg {
      width: 18px;
      height: 18px;
      fill: currentcolor;
      vertical-align: middle;
    }
  }
}
